{{ $page := .page }}
{{ $index := .index }}
{{ $with_button := .with_button }}
{{ $class := .class }}
{{ with $page }}
  <li class="popin popin--title {{ $class }}" id="{{ .Params.slug }}">
    <div class="popin-content">
      <div class="city">
        <button class="close" title="Fermer"></button>
        {{ partial "commons/image.html" (dict
            "image" .Params.image
            "sizes" (dict "mobile" "300"
                          "tablet" "300"
                          "desktop" "300")
            "lazy"  false
        ) }}
        <div class="content">
          <h2>{{ .Title }}</h2>
          {{ .Params.summary | safeHTML }}
          {{ partial "contents/list" (dict
            "context" .
            "contents" .Params.contents
          ) }}
          {{ if $with_button }}
            <p class="change-city-action" data-index="{{ $index }}">Transformer</p>
          {{ end }}
        </div>
      </div>
    </div>
  </li>
{{ end }}