.popin
    display: none
    position: absolute
    justify-content: center
    align-items: center
    flex-direction: column
    inset: 0
    z-index: $zindex-modal
    .close 
        cursor: pointer
        position: absolute
        top: 20px
        right: 20px
        border-radius: 50%
        transition: all 200ms
        text-decoration: none
        text-align: center
        border: 0
        background: none
        appearance: none
        @include icon-block('close-line')
            color: $color-text
    .blocks
        .container
            padding-left: 0
            padding-right: 0
    @include media-breakpoint-down(desktop)
        left: 0
        right: 0
        bottom: 0
    // &:not(.popin--offcanvas)
    //     max-width: 600px
    //     transition: 0.4s transform
    //     transform: translateY(120%)
    //     &.is-opened
    //         transform: translateY(0)
    &--light
        left: 30px
        right: 30px
        bottom: 30px
        margin: 0 auto
    &--offcanvas
        background: var(--color-background)
        color: var(--color-text)
        inset: 0px
        .close
            position: fixed
            background: white
            width: 60px
            height: 60px
            z-index: 10
        @include media-breakpoint-down(desktop)
            transform: translateX(100%)
            &.is-opened
                transform: translateX(0)
        @include media-breakpoint-up(desktop)
            display: block
            max-width: 600px
            width: 60%
            top: 0
            bottom: 0
            left: auto
            right: 0
            transform: translateX(100%)
            &.is-opened
                transform: translateX(0)
    &--card
        .close
            position: absolute
            top: 0
            right: 0
            z-index: 10
        .popin-content
            position: relative
            padding-top: 100px
        transition: 0.4s
        opacity: 0
        transform: translateY(10%)
        &.is-opened
            opacity: 1
            transform: translateY(0)
    //     margin-top: 100px
    //     .close
    //         position: absolute
    //         background: white
    //         width: 60px
    //         height: 60px
    //         top: 0px
    //         z-index: 10
    //     @include media-breakpoint-up(desktop)
    //         top: 50%
    //         left: 50%
    //         transform: translate(-50%, 100%)
    //         &.is-opened
    //             transform: translate(-50%, -50%)
    &--title
        transition: 0.4s
        opacity: 0
        transform: translateY(10%)
        bottom: 0
        top: auto

        .close
            display: none
            position: absolute
            top: 0
            right: 0
            z-index: 10
        .popin-content
            position: relative
            padding-top: 100px
        &.is-opened
            opacity: 1
            transform: translateY(0)

.popin--end
    display: none
    position: absolute
    top: 50%
    bottom: auto
    background: white
    color: black
    padding: $spacing-4
    > * + *
        margin-top: $spacing-3
    h3
        color: $color-accent
    .close
        margin-top: 0
    .link-btn
        background: black
        color: white
    &.is-opened
        transform: translateY(-50%) !important
        display: block !important

.city
    --color-text: white
    --color-background: black
    color: var(--color-text)
    padding: $spacing-1 $spacing-4
    background: black
    position: relative
    // border: 1px solid #000
    // border-radius: 5px
    text-align: center
    .content > *
        margin-top: $spacing-3
        margin-bottom: $spacing-3
    img
        max-height: 350px
        width: auto
        max-width: 350px
        display: block
        position: absolute
        top: 50px
        left: 50%
        transform: translate(-50%, -100%)
        display: none
    .btn
        display: table
        margin: auto

body.popin-is-opened
    // &::after
    //     opacity: 1
        // background: rgba(255,255,255,0.2)
        // backdrop-filter: blur(3px)